language: go
addons:
  apt:
    packages:
    - sshpass
    - bsdtar
    - p7zip-full
sudo: false
go:
- "1.10"
git:
  depth: 500
install:
- go get github.com/kardianos/govendor
- ./tools/build.sh
- ./tools/package.sh
- ./tools/publish.sh
script:
- make test
- make testacc
- make vendor-status
- make vet
after_success:
- bash <(curl -s https://codecov.io/bash) -t 6259c706-5c1d-471f-b62b-4f908ea1801d
notifications:
  slack:
    secure: Imuptg78FWWZlGVb8LBuwn45CeMfnHgf+pXbftR8mSGFRsg08jw38MIRtw/MAET3RJsciwDXf22AkgM8WgZ+fcUbJI4MGn2IvnM40T/imc5deqlMn1QdE5HasWrrBwfyY7hDu8XBexit+2fmYLGGrHX2fsbvUJepT4xOV8MZbZWMYueoBuL2bxNRR+lhjqVsKMq+/8q4g7hsKxYOdStEOZQIM13qI8dbIIQK4cCPQGtdNMGlNSX0a/nEFZmxDKh3WILssZcRst7SW3QldYppJO21PcTmY/zCTLJ5b7izweLczDmV77ckv61X50B8iaarhwEMFYs9Icg8U69mAkbqeU5HsWy1d2VDPDG+QW32VMTU371pVEzsmBVzArSXvldULmRzYcA+9LoYb5P6LNbq2y7tdimETOElbkMyw53hnb4ZPiypLWlwusZibCxGsJMp41MgbxxaMKxUgrBsAY9nSBg/oj7ixditveXm5IjqBJXfFyxuxfvcxssT15AiqFI3z+Mpoarq233V7E/c0AwdYc/iJKPtW8DG2uSjb0EMIKopXjEi/tz8ykVQH1UbKww5PvGfzCw2mCNF+Bc925coTs8gwaU+XOnqQesggUheAmpaQhbdPGpNYecbLgtQ3kafEBllTrgLyTqISkXlDMZybItP1C8GrEEshGWSEzBAEGU=
deploy:
- provider: releases
  overwrite: true
  api_key:
    secure: MuxEuB5h7vv9P3kwwDKaROwzqUFqvC/HBWFuhKSfea9xwzidYPApvktov4zdM/l13CVLvCkZpVhyvUQXwYgmXHMfN490fN1GHLnPU08JtpwqFGO3JUvPmhwRd1pmjFGl2efxoXjzgUeRRA6jIkK3dGlufhZLchVWOzOHvxGSSfgkTkP91G00jdmQ/5UPXU5ClOn0n9XxAY6w78vOGThbP1XeyWzr2IVVcl7FdaPETx4wD5Rh1X+y8tF1zTSwl1+0eILMucJbUw4dCzsuq1APDup4jxEEpkPVt78vX3UFsc4M9fYNoi6C3kLlqHaW45HDnUrY9YVqTn27K2IvmeFS27tI4DaK0owMbjIef+6Aq3gjcRAKcco6RMAzFC4WNfBYFwq9eSk6QyDkrlmSHGvIMeEinhMIPH3jzzYSyQ6gLX7VfRdWtikl1ICBTCMnOcHVF3oGU5q17s8yxhm7+B29mx3fLPhWAsYtVQUUOrP0S33YdyMxO4bnGVmEvABLsaIiwSTtdERDVivcWF/NbREBxQOagI864ScyV04wxWL2WJKsmqz3pvtpbhzylf2KlC34cktIiQPKJ6T3Zfw0iRz+K3j1e8X/ZQ1P0dCt4Q4rbbjIdUcUAZ+ggeK9s13IDjtZkjYwibz5czKlftTiek5dLyDIwBJk0GkBSH3PhD35Sv8=
  file:
  - terraform-provider-drp.zip
  - terraform-provider-drp.sha256
  skip_cleanup: true
  on:
    repo: rackn/terraform-provider-drp
    tags: true
- provider: s3
  access_key_id: AKIAJF4QJY2A23DY6YTQ
  secret_access_key:
    secure: EsUuR96bUIwS1xNjO2jNnvOX8uvJUPmgZDHYRmIurIB2ch5jr1K7Bnk72CZ3VrDqmoIuGccd3+GF/QC/CDh1mwOskPBPo+M8nRZFNyhqKROfn6XRviHNSEUkO7TuLfGYT7P6J+vzDYkle7gaZ13SgrcM/f6j8JUSbNZnE+nOH38trAWkHJ5z7vEp54r4pqPkBYeS0GZHqKsaMhK7rVvG+k+LudwW/Fc6hP00OxdWpC8+K0HTsp1ew530DAOHSFUZBoK7rpj/u1z68hApr6Mdwut2OVqDazPRgBR6bnCjZ+9OYEQzK3tALtbIrrZ8xKgMAzInUiTYkgy2FbLic6peEgnNJmwpVjuS9lklZIfT8HvPs4q1ToA7GQUD/MCseR+iG0VSfrd4tKS5V9rBc4f5ZvnXoFoNIEpcwEEkYXhRj1WiCrTMdfjlyOpH0U0GCYY/Ll7LRzUyPvIXJcyxVhcXK9CfF9wyWrcFfLjYJEgtrbLx9oJVvpWrtRiSP7806RSq/1UNveujQlgjZ43l2PzvJaurxjCK5//ld02tUbohUrrAKSQRINRkuFxJl46lLsOM4jURXDjb/Vh78h/WS1uRMDyqUkoRhTLsYaVUmfbQXmGlCaFUOt78fkCC+HD1qEzqDRSHX2AmPu3QcwxFkkwomZq9jnf4KYl4WCI8bYK89lQ=
  bucket: rebar-catalog
  region: us-west-2
  local-dir: rebar-catalog
  acl: public_read
  skip_cleanup: true
  on:
    repo: rackn/terraform-provider-drp
    tags: true
