provider "drp" {
  api_user     = "rocketskates"
  api_password = "r0cketsk8ts"
  api_url      = "https://127.0.0.1:8092"
}

resource "drp_machine" "one_random_node" {
  count = 1

  # Settable values
  # Name = force the name to something.
  # Workflow (required!) = starting workflow
  # Description = force the description to something
  # owner = force the terraform/owner value to something

  Workflow    = "centos-install"
  Description = "Deployed by Terraform"
  Meta {
      icon = "birthday"
      color = "purple"
  }
  userdata    = "yaml cloudinit file"

  # SPECIAL FIELDS
  # List of profiles to apply to node (if not already there)
  add_profiles = ["mandy", "clause"]
  # list of parameters to set with their string value forms
  parameters = [
    {
      name = "fred"
      value = "tuesday"
    },
    {
      name = "jill"
      value = "thursday"
    },
  ]
  # list of filters to reduce the nodes to draw from.
  # Name, UUID, and Address are unique forcing singletons
  # filters = [{
  #  name = "Name"
  #  value = "greg2"
  # }]

  # DECOMMISSIONING OVERRIDES
  # decommission_workflow = "discover"
  # decommission_icon = "map outline"
  # decommission_color = "black"
  # completion_stage = "complete"
}
