---
page_title: "Resource: drp_machine resource"
description: |-
  The drp_machine provider provides a terraform thing for the pool api in drp. This allows operators 
  familiar with terraform to control physical infrastructure using terraform and stuff.
subcategory: "Infrastructure"
---
# This Is A Title

Customizations go in here same as in the index one..

{{ .SchemaMarkdown | trimspace }}

## Example

{{ tffile "examples/example.tf" }}